@charset "UTF-8";
body {
  background: url(/images/fabric-black-bg.png) repeat left top; }

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: helvetica,clean,sans-serif;
  font-weight: 100; }

a {
  color: black; }
  a:hover {
    color: #6E6E6E; }
  a:visited {
    color: blue; }

.no-decoration {
  text-decoration: none; }

div.left-content {
  background-color: red;
  z-index: 50;
  position: fixed;
  height: 100%;
  float: left;
  width: 563px;
  background: url(/images/bg-purple.jpg) no-repeat scroll -163px -65px #9b2eb3;
  box-shadow: 5px 0 15px #010; }
  div.left-content .tag {
    position: absolute;
    top: 0;
    left: 0;
    background: url(/images/topleft-tag.png) no-repeat scroll transparent;
    width: 107px;
    height: 107px; }
  div.left-content .logo {
    margin: auto;
    margin-top: 106px;
    background-color: red;
    width: 388px;
    height: 193px;
    background: url(/images/logo.png) no-repeat scroll transparent; }
  div.left-content #txt-search {
    background-color: red;
    margin: auto;
    margin-top: 60px;
    width: 368px;
    height: 31px;
    background: url(/images/search-sprite.png) -16px 0 no-repeat scroll transparent; }
    div.left-content #txt-search .magnifier {
      float: left;
      width: 30px;
      height: 30px;
      background: url(/images/search-sprite.png) -325px -33px no-repeat scroll transparent; }
    div.left-content #txt-search .erase-btn {
      float: right;
      right: 0px;
      width: 30px;
      height: 30px;
      background: url(/images/search-sprite.png) -357px -32px no-repeat scroll transparent; }
    div.left-content #txt-search input {
      border: 0;
      margin: -1px 0 0 0;
      padding: 0;
      width: 308px;
      height: 33px;
      outline: none;
      font-size: 18px;
      background: transparent;
      color: #6c6c6c; }
  div.left-content #btn-new-internship {
    background: url(/images/add-internship-sprite.png) -2px 0 no-repeat scroll transparent;
    margin: 60px 0 0 141px;
    width: 275px;
    height: 57px;
    border: 0; }
    div.left-content #btn-new-internship.pressed {
      background-position: -2px -75px !important; }
  div.left-content .footer {
    position: fixed;
    bottom: 5px;
    width: 400px;
    text-align: center;
    left: 89px;
    font-size: 11px;
    color: #e0bde7; }
    div.left-content .footer a {
      color: #e0bde7; }
  div.left-content .arrow {
    position: fixed;
    top: 186px;
    left: 563px;
    width: 16px;
    height: 32px;
    background: url(/images/arrow.png) no-repeat scroll transparent;
    z-index: 500; }

div#box-add-internship {
  background: url(/images/add-internship-box-sprite.png) no-repeat scroll transparent;
  height: 417px;
  width: 555px;
  z-index: 1000;
  position: fixed;
  top: 18px;
  left: 3px;
  box-shadow: 1px 9px 47px black; }
  div#box-add-internship .arrow {
    background: url("/images/add-internship-box-sprite.png") no-repeat scroll -254px -68px transparent;
    height: 16px;
    left: 268px;
    position: absolute;
    top: 417px;
    width: 36px; }
  div#box-add-internship .south {
    background: url("/images/shadow/s.png") repeat-x scroll 0 0 transparent;
    height: 60px;
    left: 1px;
    position: absolute;
    top: 417px;
    width: 554px; }
  div#box-add-internship .south-east {
    background: url("/images/shadow/sw.png") repeat-x scroll 0 0 transparent;
    height: 60px;
    left: 1px;
    position: absolute;
    top: 417px;
    width: 554px; }
  div#box-add-internship .btn-close {
    background: url("/images/add-internship-box-sprite.png") no-repeat scroll -206px -61px transparent;
    height: 30px;
    position: absolute;
    right: -10px;
    top: -11px;
    width: 29px; }
  div#box-add-internship .inner {
    background: url(/images/bg-add-internship-box.png) no-repeat scroll black;
    height: 364px;
    width: 502px;
    position: absolute;
    top: 27px;
    left: 27px; }
    div#box-add-internship .inner .header {
      background: url(/images/add-internship-box-sprite.png) -57px -100px no-repeat scroll transparent;
      width: 422px;
      height: 38px;
      margin: 15px auto; }
    div#box-add-internship .inner form {
      margin: 0 0 0 42px;
      color: #cacaca;
      font-family: Arial; }
      div#box-add-internship .inner form fieldset {
        border: 0; }
        div#box-add-internship .inner form fieldset label {
          float: left;
          font-size: 15px;
          margin: 0 5px 0 0; }
          div#box-add-internship .inner form fieldset label.title {
            margin: 0 44px 0 0; }
          div#box-add-internship .inner form fieldset label.area {
            margin: 0 49px 0 0; }
          div#box-add-internship .inner form fieldset label.description {
            margin: 0 14px 0 0; }
        div#box-add-internship .inner form fieldset .points {
          float: left;
          margin: 0 11px 0 0; }
        div#box-add-internship .inner form fieldset input {
          font-family: Arial, sans-serif;
          color: #c6c6c6;
          width: 302px;
          font-size: 12px; }
          div#box-add-internship .inner form fieldset input .has_content {
            color: black; }
        div#box-add-internship .inner form fieldset .black-txt {
          color: black; }
        div#box-add-internship .inner form fieldset textarea {
          font-family: Arial, sans-serif;
          color: #c6c6c6;
          font-size: 13px;
          height: 124px;
          width: 301px; }
      div#box-add-internship .inner form .char-counter {
        font-size: 10px;
        margin: -10px 0 0 112px; }
      div#box-add-internship .inner form .btn-add {
        border: 0;
        background: url("/images/add-internship-box-sprite.png") no-repeat scroll -61px -59px transparent;
        height: 39px;
        width: 122px;
        margin: 0px 0 0 301px; }
      div#box-add-internship .inner form .ajax-loader {
        background: url("/images/ajax-loader.gif") no-repeat scroll -9px 0 transparent;
        height: 16px;
        left: 155px;
        position: absolute;
        top: 305px;
        width: 180px; }
      div#box-add-internship .inner form .has_focus {
        color: #4a4a4a; }

div.right-content {
  z-index: 0;
  float: right;
  margin-left: 563px;
  min-height: 800px; }
  div.right-content .pad {
    float: left;
    width: 500px; }
  div.right-content .content {
    float: right;
    /*width é calculado por javascript*/ }
    div.right-content .content .header, div.right-content .content .internship {
      word-wrap: break-word;
      position: relative;
      margin: 40px;
      padding-bottom: 10px;
      border-radius: 24px;
      background-color: #C9C9C9;
      background-image: -webkit-linear-gradient(top, white, #a5a5a5);
      background-image: -moz-linear-gradient(top, white, #a5a5a5);
      background-image: -ms-linear-gradient(top, white, #a5a5a5);
      background-image: -o-linear-gradient(top, white, #a5a5a5);
      background-image: linear-gradient(top, white, #a5a5a5);
      box-shadow: 1px 4px 8px #010; }
    div.right-content .content .header {
      /* HEADER */
      height: 40px; }
      div.right-content .content .header h1 {
        font-size: 18px;
        font-weight: 100;
        padding: 15px 0 0 20px; }
      div.right-content .content .header #remove-filter {
        font-size: 12px;
        position: absolute;
        right: 20px;
        bottom: 16px; }
    div.right-content .content .internship h1 {
      /* INTERNSHIP */
      font-size: 19px;
      font-weight: 100;
      padding: 14px 0 0 20px;
      margin: 0;
      color: #6A6A6A; }
    div.right-content .content .internship input {
      height: 20px;
      padding: 0;
      margin: 11px 0 0 16px;
      width: 450px;
      color: #6A6A6A;
      font-size: 18px;
      font-weight: 100;
      font-family: Arial,sans-serif; }
    div.right-content .content .internship textarea {
      height: 124px;
      padding: 0;
      margin: 5px 0 13px 16px;
      color: #6A6A6A;
      font-size: 14px;
      font-weight: 100;
      font-family: Arial,sans-serif; }
    div.right-content .content .internship p {
      /* INTERNSHIP */
      font-size: 14px;
      font-weight: 100;
      padding: 0 20px 0 20px;
      color: black; }
    div.right-content .content .internship .release-date {
      /* INTERNSHIP */
      font-family: Cursive;
      font-size: 25px;
      color: gray;
      position: absolute;
      top: 8px;
      right: 15px; }
    div.right-content .content .internship .division {
      width: 100%; }
    div.right-content .content .internship .division .line {
      height: 1px;
      background-color: #b0b0b1;
      margin: 0 110px 0 19px; }
    div.right-content .content .internship .edit, div.right-content .content .internship .save {
      cursor: pointer;
      text-decoration: underline;
      font-size: 11px;
      position: absolute;
      bottom: 5px;
      right: 23px; }
    div.right-content .content .internship .time_ago_in_words {
      font-size: 9px;
      position: absolute;
      bottom: 5px;
      right: 56px; }
