<%# encoding: utf-8 %>
<div id="box-add-internship" style="display: none">
	<div class="btn-close"></div>
	<div class="inner">
		<div class="header"></div>
		<%= form_tag internships_path, :id => "internship_create", :remote => true do %>
			<fieldset>
				<label for="title" class="title">Título</label><span class="points">::</span>
				<input class="input title" type="text" name="internship[title]"  autocomplete="off">
			</fieldset>
			<fieldset>
				<label for="field" class="field">Área</label><span class="points">::</span>
				<input class="input area" type="text" name="fields"  autocomplete="off">
			</fieldset>
			<fieldset>
				<label for="" class="description">Descrição</label><span class="points">::</span>
				<textarea class="input description" autocomplete="off" name="internship[description]" 
					></textarea>
			</fieldset>
			<div class="char-counter"><span>500</span> letras restantes</div>
			<div id="errors"></div>
			<input type="submit" class="btn-add" value=""/>
			<div class="ajax-loader" style="display: none"></div>
			<div class="done" style="display: none">Estágio adicionado!</div>
		<% end %>
	</div>
	<!-- <div class="south"></div> -->
	<!-- <div class="south-east"></div> -->
	<div class="arrow"></div>
</div>
