
<%= render @internship %>

<div id="separator"></div>
<div id="comments">
	<header class="comments">
		Comentários
	</header>
	<% if @internship.comments.each do |comment| %>
		<%= render :partial => "/comments/comment", :object => comment %>
	<% end.empty? %>
		<div class="no-comments">
			Não existe comentários para esse estágio.
		</div>
	<% end %>
</div>